.user {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding-bottom: 20px;
}
.user__header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.479);
  padding: 10px;
}
.user__profile {
  text-align: center;
}

.user__avatar {
  object-fit: cover;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}
.user__pokemonTitle {
  text-align: center;
}
.user__row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding: 10px;
}

.user__column {
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  grid-column: span 6;
}
.user__pokemonImage {
  background-color: #0a141e;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.user__pokemonNick {
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}

.user__footer {
  text-align: center;
}
.user__button {
  border: 0px;
  border-radius: 5px;
  background-color: #d9534f;
  padding: 5px;
  width: 50%;
  margin: 10px 0px;
}

@media (min-width: 1300px) {
  .user__column {
    grid-column: span 2;
  }
}

@media (max-width: 340px) {
  .user__column {
    grid-column: span 12;
  }
}
