.detail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding-bottom: 20px;
}

.detail__body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.detail__header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.479);
  padding: 10px;
}

.detail__headerTitle {
  margin: 0px;
}

.detail__contentSection--margin {
  margin-left: auto;
  margin-right: auto;
}

.detail__contentSection {
  grid-column: span 12;
}

.detail__content {
  margin: 10px;
}

.detail__image {
  width: 15rem;
}

.detail__button {
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  border-color: rgb(3 172 14);
  color: rgb(3 172 14);
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.detail__button:hover {
  background-color: rgb(3 172 14);
  color: #ffffff;
}

.detail__contentTitle {
  margin: 15px 0px 10px 0px;
}

.detail__contentTitle--center {
  text-align: center;
}

.detail__name {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
}

.detail__desc {
  border-radius: 15px;
  padding: 7px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;
  margin: 10px;
}

.detail__row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.detail__desc--type {
  background-color: #0a141e;
  color: #ffffff;
}
.detail__desc--ability {
  background-color: #ffa1ab;
  color: #ffffff;
}

.detail__desc--move {
  grid-column: span 2;
  height: 2.5rem;
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #80c7fd;
  color: #ffffff;
  padding: 5px;
  grid-column: span 4;
}

.detail__type:hover {
  border-color: red;
  color: red;
}

#open {
  display: block;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal__check {
  margin: 0px;
  color: red;
  font-weight: 600;
}

/* Modal Content */
.modal__content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal__header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal__body {
  padding: 2px 16px;
}

.modal__footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

@media (min-width: 1300px) {
  .detail__contentSection {
    grid-column: span 6;
  }
  .detail__image {
    width: 25rem;
  }
  .detail__desc--move {
    grid-column: span 2;
  }
}
