.home {
  text-align: center;
}

.home__title {
  margin-top: 0;
}

.home__section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.home__button {
  margin-top: 30px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  background-color: #ffffff;
  border-color: rgb(3 172 14);
  color: rgb(3 172 14);
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.home__button:hover {
  background-color: rgb(3 172 14);
  color: #ffffff;
}
